.switch-btn {
    position: relative;
    cursor: pointer;
    width: 60px;
    height: 31px;
}

.switch-btn::before, .switch-btn::after {
    position: absolute;
    left: 1px;
    content: '';
    transition: all 0.4s;
}

.switch-btn::before {
    right: 1px;
    background: #aeb2cd;
    border-radius: 30px;
    height: 100%;
}

.switch-btn::after {
    margin: 3px;
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 50%;
}

.btn-switch:checked + .switch-btn::before {
    background: linear-gradient(0.25turn, #3dd394, #1a8ff8);
}

.btn-switch:checked + .switch-btn::after {
    transform: translateX(27px);
    background-color: #20222f;
}

.switch_btn {
    display: flex;
    width: 160px;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 605px) {
    .switch_btn {
        border-top: 2px solid var(--switch-div);
        width: 95%;
        margin-top: 30px;
        padding-top: 15px;
    }
}

